**/bin/
**/obj/
**/.dockerignore
**/.git/
**/.gitignore
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.ps1
**/*.sh
**/*.swp
**/*.swo
**/Dockerfile*
**/docker-compose*
**/README.md
**/LICENSE
**/.env
**/.env.local
**/appsettings.Development.json
**/local.settings.json
**/node_modules/
**/npm-debug.log
**/yarn-error.log
**/Thumbs.db
**/.DS_Store